@{
    ViewBag.Title = "RegisterConfirm";
}

<h2>User Registered Successfully!</h2>
<button onclick="location.href=@Url.Action("Register","Account")">Add User</button>
<button onclick="location.href=@Url.Action("MoviesList", "MovieModels")">Home</button>

