
@{
    ViewBag.Title = "SubmitOrder";
}

<div class="jumbotron">
    <h2>Succesfully placed your order!</h2>
    <h4>Your order  no: @ViewBag.OrderId</h4>
    <div style="text-align:end"><button onclick="location.href = '@Url.Action("","")'"><b>Continue Shopping</b></button></div>
</div>
