
@{
    ViewBag.Title = "NewUserSuccess";
}

<h2>User Succesfuly Created</h2>

<button onclick="location.href='@Url.Action("DisplayCart","MoviesModels",new { IsOrder = 0})'">Back to Cart</button>
<button onclick="location.href='@Url.Action("DisplayCart","MoviesModels",new { IsOrder = 1})'">Proceed</button>